
/**************************************************************
* Aplico a todos los elementos border box , para poder calcular bien el tamaño de éstos.
reseteo las etiquetas de títulos y párrafo a margin 0 padding 0.5
***************************************************************/

*{
    box-sizing: border-box;
}


/**************************************************************
contenedor padre  que tiene a sus hijos en filas no ampliables y centradas
***************************************************************/
.contenedorGrande{
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  width:100%;
  align-items: flex-start;
 }

/**************************************************************
* contendor con contendio de dos div en filas indivisibles cada 
div es una fila que si no cabe se añade otra más
***************************************************************/

.main{
  display: flex;
  width: 100%;
  text-align: center;
}
main p{

  font-size:large;

}
/*clase para llevar a las imágenes hasta el final del contenedor*/
.final{
  width: 92%;
  margin-left: 0.5em;
}
.trabajosPrincipal{
  display: flex;
  flex-direction:column;

width:100%;

 }
 
 .grupo1 {
  display: flex;
  flex-direction:column;
  
 align-items: center;/*como esta en*/
 
 }
 
 a{display:flex;
width: 100%;

}
 
 /*las imágenes ocupan entre todas los div con id trab1 el 100% del ancho del contenedor*/
 .trab1{
  width:100%;
  height:100%;
  border:2px solid rgb(255, 255, 255);
}
 

/*
/*cada imagen tiene un valor del 50 % del contendedor*/
.trab{
  width: 50%;
}

.validador{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
 
}
 

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* los titulos ocupan un 80% del contenedor*/
.titulos{
width:100%;
}
/* contiene los titulos del contenedor pequeño en columnas*/
 .cursosP{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width:100%;
  padding: 0.5em;

 }
/*
 contenedor hijo principal disposición columnas y al centro en un inicio en pantallas pequeñas
 */ 

.contenedorPrincipal{
   display:flex;
  flex-direction:column;
}

 /*
contenedor hijo pequeño  no visible por el momento
*/ 

.contenedorPequeño{
  display: none;
}


/*imagen de presentación */
.primera{
  width: 100%;
  height:100%;
 
}
.primera1{
 
    width: 100%;
    height: 120%;
}

/**************************************************************
* tamaño,tipo de letra, color,negrita y posición de cada div dentro
 de el menú de contenedor principal
***************************************************************/
.menu1{
  font: italic small-caps bold 20px/10px Georgia;
  padding: 0.5em;
  text-decoration:none;
  text-align:center;
  color:rgb(94, 48, 94);
  
}
#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*así centro el menú del tamaño pequeño de pantalla*/
a.menu1{
 justify-content: center;
/* align-items: ;*/
}
/**************************************************************
* tamaño,tipo de letra, color,negrita de clases video y politécnico
tamaño válido para ambos contenedores
***************************************************************/
.video1,.politecnico1{
  color:rgb(94, 48, 94);
  font: italic small-caps bold 20px/10px Georgia;
text-decoration:none;
font-size: calc(0.6em + 0.6vw);

}
a{
  display: flex;

}
/*para centrar el enlace*/
a.video1,a.politecnico1{
  justify-content: center;
}
/*clase creada para centrar los enlaces*/
.centra{
  justify-content: center;
  display: flex;
}


/**************************************************************
* color de etiqueta p3 para mostrar en pie de contenedor principal
***************************************************************/

p3{
  color:white;
}
/**************************************************************
* color  y tamaño de etiqueta p2 para mostrar en pie de contenedor pequeño
***************************************************************/
p2{
  font: italic  20px/10px Georgia;
  font-size: calc(0.30em + 0.30vw);color:white;
  
}

/**************************************************************
* tamaño y disposición de div contenedor de header con class cabecero contenedor principal
***************************************************************/
.cabecero{

width: 104%;



}
/**************************************************************
* nav con clase barraNavegacion en la que sus hijos de colocarán en columnas en un primer monento
al definir las pantallas más pequeñas
***************************************************************/
 .barraNavegacion {
  display: flex;
  flex-direction:column;
  padding-top: 5%;
 
  

}

main{
  display:flex;
  flex-direction: column;
  margin: 1%;
  
}

/**************************************************************
* texto responsivo recalculando tamaño desde unos tamaños y formato dados inicalmente en
en clase h1 de cointenedor pequeño
***************************************************************/

.h1{
  font: italic small-caps bold 25px/15px Georgia;
  font-size: calc(0.60em + 0.60vw);

}


#ico1{ margin: 0px;
  padding: 0.2em;}


/**************************************************************
*id para indicar espacio entre los iconos 
***************************************************************/
#what,#what1{
  margin: 0px;
  padding: 0.2em;
 
}
/**************************************************************
*id para indicar color y fondo de icionos dejando a un lado what
***************************************************************/
#ico1,#ico2,#ico3,#ico4,.ico{
  background-color: black;
 color: white;
width: 100%;

}
.iconos{
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:baseline;
}

.icopeque{
  font: italic small-caps bold 15px/5px Georgia;
  font-size: calc(0.32em + 0.32vw);
  color: white;
}
 /**************************************************************
*id para indicar  tamaño color y para que esté colocado a la inquierda de su contenedor
***************************************************************/
#what,#what1{
   font-size:20px;
  color:rgb(233, 227, 227);
  align-items: flex-start;
}
/**************************************************************
*clase del contenedor de los iconos los que he colocado en fila 
***************************************************************/
.ico{
  background: black;
  display: flex;
flex-direction :row;
flex-wrap: nowrap;

}
/**************************************************************
clase colocada en columnas para que el pié tenga los datos uno debajo de otro
***************************************************************/

.pie{
background: black;
display: flex;
flex-direction :column;
align-items:flex-start;
/*justify-content:flex-start;
border:  black;*/
border: 8px solid ;

width: 105%;
}




/**************************************************************
*media querie que indica se aplicará cuando el tamaño de pantalla sea al menos 576 px
***************************************************************/

  @media screen and (min-width:576px) {
    


 /**************************************************************
*cambio en contenedor principal tiene un archo del 90%del contenedor grande
***************************************************************/
    .contenedorPrincipal
    {
      width:100%;
     }
  /**************************************************************
*cambio disposición de menú en contenedor principal, pasa a estar en fila y centrado
***************************************************************/
    #menu{
      display:flex;
      flex-direction:row;
      flex-wrap:nowrap;
      padding: 0.5em;
      justify-content:center;
      width: 100%;
       
     }
  

    /**************************************************************
*cambio en clase menu1 del contenedor principal para da más visión a los enalces del menú,
 ya que la pantalla tiene más sitio y así queda mejor  mi juicio
***************************************************************/
   .menu1{
   font: italic small-caps bold 25px/15px Georgia;
   font-size: calc(0.70em + 0.70vw);
   line-height: 0em;
   padding: 0.3em;
   margin-left: 20%;
   text-decoration:none;
   }
 
   main{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-right: 2%;
  }
   
  /* las imagenes de los trabajos están en un contenedor trabajosPrincipal dispuesto en row
  Al que le dejo pasar de fila si lo necesita en el tengo dos div que son columana1*/

  #trab1{
    width:100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
  }
  /*este copntenedor  tiene las img   estos grupos están en filas y si no
  caben se pueden pasar a la siguiente y ocupan un 80 % de la anchyra par no llear hasta el final*/
 
   .cursos{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   }
  


   .trabajosPrincipal{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  width:100%;
  
   }
   
   .grupo1 {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   
   }
   
   a{display:flex;
   width: 50%;
  
  }
 

  }

/**************************************************************
*media querie que indica se aplicará cuando el tamño de pantalla sea al menos 800 px
***************************************************************/
    @media (min-width: 800px) {
  
/**************************************************************
*el contenedor pequeño se hace visible con un 22% de ancho del contenedor grande
ajusto márgenes y le pongo a sus elementos en columna
***************************************************************/
   .contenedorPequeño{
      padding: 5px;
      display: flex;
      flex-direction:column;
      text-align:left;
      width: 22%;
    
     margin-right: 2em;
     
    }
    /**************************************************************
*el contenedor principal comparte escenario , ocupa un 70% de ancho del contenedor grnade
*************************************************************/
.contenedorPrincipal
   {
    width:100%;
    }

      /**************************************************************
*aplico clase para llevar hasta el final del contenedor las imagenes que tienen estra clase
****************************************************************/

.final1{
  width: 102%;
}
.final {
  width: 100%;
  margin-left: 0.5em;
}
.barraNavegacion1{
 
    padding-top: 1.5em;
    padding-left: 0;
    padding-bottom: 1em;
    
}
 /**************************************************************
* doy un padding para tener bien situado el menú  de nav del contenedor pequeño
**************************************************************/

 

/**************************************************************
*tamaño y color para los enlaces del menú de contendedor pequeño
***************************************************************/
.menu11{
  font: italic small-caps bold 25px/15px Georgia;
  font-size: calc(0.60em + 0.60vw);
  color:rgb(94, 48, 94);
  text-decoration:none;
  margin-left: 10%;
}
 .menu{
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;

 }
 .barraNavegacion {
  display: flex;
  flex-direction: column;
  

}
a.video,a.politecnico{
  margin-left: 0;
  color:rgb(94, 48, 94);
  padding: 0.5em;
}
/* para dar formato a estos enlaces hay que asignar primero la etiqueta enlace y después el elemento
para quietar el subrayado que tiene por defecto el enlace , darle fromato de letra y color*/
a.video,a.politecnico{
  text-decoration: none;
  font: italic small-caps bold 25px/15px Georgia;
  font-size: calc(0.45em + 0.45vw);
  color:rgb(94, 48, 94);
}

 .trabajosPrincipal{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width:100%;
  padding-top: 2em;
  padding-bottom: 2em;
  
 }
 /*eñl grupo tiene las fotos  en fila y no pueden pasar de ésta*/
 .grupo1 {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
 }
 
 a{display:flex;
width: 33%;}
 /*contiene los titulos y no pueden pasar de su fila el contenedor es flex
   tiene sus dos contenedores en columna*/

 .trabajosPrincipal1{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

 
/* los contenedores columna son flex y sus hijos están en columna y éstas columnas están al centro*/
 .columnas{
   display: flex;
   flex-direction: column;
   margin-left:0.3em;
 }
 columnas a img{
   width: 75%;
 }
/*tamaño del 100% de las imagenes de contenedor pequeño*/
 .trab{
  width: 10em;
 
 }

 
.piePequeño{
  display: flex;
  flex-direction: column;
  width: 100%;
}


/*************************************************************
*doy valores a cabecera1 del contennedor pequeño para alinear con cabecera del contenedor principal
***************************************************************/
.cabecero1{
  justify-content:center;
  height: 5em;
  margin-top: 2em;
}

  }

 
  

